<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="bg-desire">
    <div class="container">
        <%- include('partials/nav') %>
        <!-- Flex untuk centerkan text tu -->
        <section class="d-flex align-items-center justify-content-center">
            <div class="text-white text-center">
                <h1 class="display-4"><strong>Nasuha Asri</strong></h1>
                <p class="lead">Student who spend most of the time coding and sleeping</p>
                <div>
                    <img src="/img/icons/github.png">
                    <img src="/img/icons/tw.png">
                    <img src="/img/icons/ig.png">
                </div>
            </div>
        </section>
        <section class="d-flex align-items-center justify-content-center">
            <div class="text-white text-center">
                <h1 class="display-4 text-statement"><strong>Got No Time For People Who Dont Appreciate Time</strong></h1>
            </div>
        </section>
    </div>
    <%- include('partials/script') %>
  </body>
</html>